<div class="modal-header">
    <h5>Explanation</h5>
    <button class="btn-close" data-bs-dismiss="modal"></button>
</div>

<div class="modal-body">

    <p>{{ exp.text }}</p>

    {% if exp.image %}
        <img src="{{ exp.image.url }}" class="img-fluid mb-2">
    {% endif %}

    {% if exp.audio %}
        <audio controls class="w-100 mb-2">
            <source src="{{ exp.audio.url }}">
        </audio>
    {% endif %}

    {% if exp.video %}
        <video controls class="w-100 mb-2">
            <source src="{{ exp.video.url }}">
        </video>
    {% endif %}

    {% if exp.youtube_link %}
        <iframe width="100%" height="200"
            src="{{ exp.youtube_link|safe }}"
            frameborder="0"
            allowfullscreen>
        </iframe>
    {% endif %}

</div>